@using WebTIGA;
@model WebTIGA.Models.ContenedorModelos

<html lang="en">
<head>
   
    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#example1').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'excelHtml5',
                ]
            });
        });
    </script>

</head>
<body>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-info">ERRORES EN FASES Y DISTRIBUCIONES</h6>
        </div>
        <div class="card-body">
            <div class="col-lg-12">


            </div>


            <div class="card-body">
                <div class="table-responsive">
                    <table id="example1" class="display nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="text-align:center">Usuario</th>
                                <th style="text-align:center">Fecha Inicio</th>
                                <th style="text-align:center">Fecha Fin</th>
                                <th style="text-align:center">Fase</th>
                                <th style="text-align:center">Actividad</th>
                                <th style="text-align:center">Total de Horas</th>
                                <th style="text-align:center">Estado</th>
                                <th style="text-align:center">Hojas de estado</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var file in Model.SP_TT_ERROR_FASES_DISTRIBUCION)
                            {
                            <tr>
                                <td style="text-align:initial">
                                    @file.Usuario
                                </td>
                                <td style="text-align:center">
                                    @file.Fecha_Inicio
                                </td>
                                <td style="text-align:center">
                                    @file.Fecha_Fin
                                </td>
                                <td style="text-align:center">
                                    @file.Fase
                                </td>
                                <td style="text-align:center">
                                    @file.Actividad
                                </td>
                                <td style="text-align:center">
                                    @file.Total_de_Horas
                                </td>
                                <td style="text-align:center">
                                    @file.Estado
                                </td>
                                <td style="text-align:center">
                                    @file.Hoja_Estado
                                </td>



                            </tr>
                            }
                        </tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



