
@model WebTIGA.Models.RecoveryViewModel


@{
    //ViewBag.Title = "StartRecovery";
    //Layout = "~/Views/Shared/_Layout_Forgot_Password.cshtml";
    Layout = "~/Views/Shared/_Layout_Forgot_Password.cshtml";    
}

<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">
        <br /> <br /> <br /><br /><br /><br /><br />
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="bg-gradient-info col-lg-6 d-none d-lg-block " style="background-image: url('../img/logos/L2.png') "></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-2">¿Olvidaste  tu contraseña?</h1>
                                <p class="mb-4">Escribe tu usuario y se enviará un mensaje a tu correo electrónico para restablecer  la contraseña.</p>
                                <p class="mb-4" style="color:red; font-size:smaller">Nota: Esto puede tardar unos segundos</p>
                            </div>
                            <form action="@Url.Content("~/Login/Forgot_Password")" method="post">


                                <div class="form-group ">
                                    <div class="input-group  mb-0">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fas fa-user"></i></span>
                                        </div>
                                        @Html.TextBoxFor(d => d.Usuario, null, new { @class = "form-control form-control-user", @placeholder = "Escribe aqui tu usuario" })

                                    </div>
                                    @Html.ValidationMessageFor(d => d.Usuario, null, new { style = "color:red;" })
                                    <div style="color:red;">
                                        @ViewBag.Message
                                    </div>

                                </div>

                                @*@Html.TextBoxFor(d => d.Usuario, null, new { @class = "form-control form-control-user", @placeholder = "Escribe aqui tu usuario" })
                                @Html.ValidationMessageFor(d => d.Usuario, null, new { style = "color:red;" })*@
                                @*<div style="color:red;">
                                    @ViewBag.Message
                                </div>*@
                              
                                <div class="text-right">
                                    <input type="submit" value="Recuperar" class="btn btn-info btn-user btn-block" />
                                </div>

                            </form>
                            <hr>
                            <div class="text-center">
                                @*<a class="small" href="@Url.Action("Login_", "Login", new { @style = "color:a" })">¿Ya tienes una cuenta? ¡Iniciar sesión!</a>*@
                                @Html.ActionLink("¿Ya tienes una cuenta? ¡Iniciar sesión!", "Login_", new { @style = "color:a" })
                            </div>
                            <style>
                                a {
                                    color: #1f99a4;
                                    text-decoration: none;
                                }
                                    a:hover {
                                        color: #63c6c6;
                                    }
                            </style>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
