@model WebTIGA.Models.ContenedorModelos

@{
    Layout = "~/Views/Shared/_Layout_Administrador.cshtml";
    ViewBag.Title = "Edit";
    string modulo = ViewBag.modulo;
    string nombre = ViewBag.userN;

}



<body>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-dark">ADMINISTRADOR DE ROLES</h6>
        </div>

        <div class="card-body">
            <div class="col-lg-auto">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h6 class="m-0 font-weight-bold text-dark">EDITAR ROL DE USUARIO</h6>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group row">
                        <label for="staticUsuario" class="col-md-2 col-form-label" style="color:black;font-weight:bold;">Usuario: </label>
                        <div class="col-md-10">
                            <select class="form-control" style="cursor: not-allowed;color:black;" disabled="disabled">
                                @foreach (var Item in Model.Usuario)
                                {
                                    <option selected value="@Item.IdUsuario">@Item.Persona.Nombres @Item.Persona.Apellidos</option>
                                }
                            </select>
                            @* @Html.TextBox("userN", null, new { style = "text-transform:uppercase ", @class = "form-control", value = "userN", @disabled = "disabled" })*@


                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label for="staticUsuario" class="col-md-2 col-form-label" style="color:black;font-weight:bold;">Modulo: </label>
                        <div class="col-md-10">
                            <select class="form-control" style="cursor: not-allowed;color:black;" disabled="disabled">
                                @foreach (var Item in Model.UsuarioModuloRol)
                                {
                                    <option selected value="@Item.ID">@Item.ModuloRol.Modulo.Nombre</option>
                                }
                            </select>
                        </div>
                    </div>
                    <br>

                    <div class="form-group row">
                        <label for="staticUsuario" class="col-md-2 col-form-label" style="color:black;font-weight:bold;">Rol: </label>
                        <div class="col-md-10">

                            @Html.DropDownList("IdRol", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Rol, "", new { @class = "text-danger" })

                        </div>
                    </div>


                    @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-danger fade show" role="alert">
                            <strong>ERROR : </strong> @ViewBag.Message
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        @*<div class="alert alert-danger" role="alert">
                            @ViewBag.Message
                        </div>*@

                    }






                    @*<div class="form-group row">
            <label for="staticUsuario" class="col-md-2 col-form-label" style="color:black;font-weight:bold;">Tipo Rol: </label>
            <div class="col-md-10">
                <select class="form-control">
                    @foreach (var Item in Model.ModuloRol)
                    {
                        <option selected value="@Item.IdRol">@Item.Rol.Tiporol</option>
                    }
                </select>
            </div>
        </div>*@

                    <br>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Guardar" class="btn btn-info btn-group-toggle" style="background-color :lightseagreen" />
                            <a href="@Url.Action("Administrador_U","AdministradorUsuarios")" class="btn btn-secondary" id="btnReturn">Retornar</a>

                        </div>

                    </div>
                </div>
                    }


                </div>

    </div>
</body>

